# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite3

# Node / React
node_modules/
dist/
build/
.vite/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
